<!DOCTYPE html>
<head>
<title>Review</title>
<link rel="stylesheet" type="text/css" href="../public/css/base.css">
</head>
<body>
	<h1>NYU Review Page</h1>
	<br>

	<ul class="mylink">
		<li><a href="/" >All Reviews</a></li>
		<li><a href="/reviews/mine">My Reviews</a></li>
		<li><a href="/reviews/add">Add Reviews</a></li>
		
	</ul>
	<br>
	{{{ body }}}
</body>
</html>

