<br>
<h2>Add New Image</h2>

<form method="POST" action="/add">
		Image URL: <input type="text" name="URL">
		<br>
		
		<br>
		Tags (comma seperated): 
		<br>
		<br>
		<textarea type="text" rows = "5" cols = "50" name="tags"></textarea>
		<br>
		<br>
		<input type="submit" value="Add images">
</form>