<br>
<br>
<form method="GET" action="/" class = "searchform">
		<input type="text" name="tagQuery">
		<input type="submit" value="search">	
</form>


<div class="grid">

{{#each images as |image|}}
    <div>
        <img src="{{image.url}}" class="grid-item"/>
        <div class="pt-1">
            {{#each image.tags as |tag|}}

            	
            	<a href = "/?tagQuery={{tag}}" >#{{tag}}</a>
               
            {{/each}}
        </div>
    </div>
{{/each}}
</div>
