<!DOCTYPE html>
<head>
<title>Tech Gallery</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<div style="text-align: center;">
    <img src="/img/logo.svg" height="80" width="80" style=""><br><h1> Tech Gallery!</h1>
</div>
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/add">Add</a>
    </div>
	{{{ body }}}
</body>
</html>