<div class = " mb-4 text-4xl font-serif mx-4 my-8 text-gray-800">
		<p>Hello</p>
</div>

<div class = "mb-4 text-2xl font-bold mx-4 my-8 text-indigo-500"> 
	<a href = "/" class="no-underline pr-8 hover:text-indigo-800"> Log in your account</a>

</div>
