<!DOCTYPE html>
<head>
<title>Seer2 Helper</title>
<link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body class = "bg-gray-300 h-screen">
	<h1 class = "text-4xl font-bold text-center text-blue-500">Seer 2 Helper</h1>
	<br>
	{{{ body }}}
</body>
</html>