<div class = "container mx-auto my-32 flex justify-center items-center">

	<form method = "POST" action = "/" class = "w-1/3 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 " >
		<div class="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        		Username
      		</label>
			<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" type = "text" name = "loginusn">
		</div>

		<div class ="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        		Password
      		</label>
			<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" type = "text" name = "loginpsw">
		</div>

			<div class="flex items-center justify-between">
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type = "submit" name= "Enroll" value = "Enroll">Enroll</button>

			</div>	
	</form>

	</div>
         <div class="text-center">
            <p class="text-gray-800 text-sm">Don't have an account? .</p>
			<a href="/newaccount" class="no-underline text-indigo-500 font-bold">Create an Account</a>
			<br>
			<a href="/home" class="no-underline text-indigo-500 font-bold">Surf as Guest</a>
        </div>
    </div>
	
	
</div>


