<!DOCTYPE html>
<head>
<title></title>
<link rel = "stylesheet" href="/css/main.css">
</head>
<body>
		<img src="/img/logo.svg" alt = "Transaction logo" class="logo">
		
		<br>
		<h1>ait.tx</h1>

		
		<ul class="mylink">
		<li><a href="/" >All Blocks</a></li>
		<li><a href="/latest/block"  >Latest Blocks</a></li>
		<li><a href="/latest/tx" >Latest Transaction</a></li>
		<li><a href="/random" >Random Transaction</a></li>
		</ul>

		<h2>Tx Blocks</h2>
		{{{body}}}
</body>
</html>